@import url(main.css);

.hero {
  height: 500px;
  background: url("/src/assets/img/hotel-hero.png") left/cover no-repeat;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.hero-content {
  text-align: center;
  color: var(--color-light);
  text-shadow: 5px 2px 6px var(--color-blue3);
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1rem;
  font-weight: 800;
  color:  var(--color-light);
  margin-bottom: 20px;
}

.hero-btn {
  background: var(--color-blue2);
  padding: 14px 24px;
  border-radius: 30px;
  color: var(--color-light);
  text-decoration: none;
  font-size: 18px;
}
