.hero {
  height: 500px;
  background: url("/src/assets/img/hotel-hero.png") center/cover no-repeat;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.hero-content {
  text-align: center;
  color: white;
  text-shadow: 0 2px 6px rgba(0,0,0,0.5);
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.hero-btn {
  background: rgba(30, 144, 255, 0.85);
  padding: 14px 24px;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}
