.gallery {
  padding: 2rem 1rem;
  text-align: center;
}

.gallery-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* MOBILE FIRST */
.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}


/* DESKTOP */
@media (min-width: 768px) {
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* define 3 colunas iguais */
    gap: 1rem;
  }

  /* Todas as imagens ocupam 100% da área a elas atribuída */
  .gallery-grid img {
    width: 100%;
    height: 260px;
  }

  /* GRID DINÂMICO  */

  /* Linha 1: img 1 = 1/3, img 2 = 2/3 */
  .gallery-grid img:nth-child(1) {
    grid-column: span 1;
  }
  .gallery-grid img:nth-child(2) {
    grid-column: span 2;
  }

  /* Linha 2: img 3 = 2/3, img 4 = 1/3 */
  .gallery-grid img:nth-child(3) {
    grid-column: span 2;
  }
  .gallery-grid img:nth-child(4) {
    grid-column: span 1;
  }

  /* Linha 3: repete o padrão (5 e 6) */
  .gallery-grid img:nth-child(5) {
    grid-column: span 1;
  }
  .gallery-grid img:nth-child(6) {
    grid-column: span 2;
  }

  
  .gallery-grid img:nth-child(6n + 1) { grid-column: span 1; }
  .gallery-grid img:nth-child(6n + 2) { grid-column: span 2; }
  .gallery-grid img:nth-child(6n + 3) { grid-column: span 2; }
  .gallery-grid img:nth-child(6n + 4) { grid-column: span 1; }
  .gallery-grid img:nth-child(6n + 5) { grid-column: span 1; }
  .gallery-grid img:nth-child(6n + 6) { grid-column: span 2; }
}
