/* SECTION: Intro */
.intro {
  text-align: center;
  padding: 2rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 2rem;
}

.intro h2 {
  font-size: 1.7rem;
}

.intro::after {
  content: "";
  display: block;
  width: 60%;
  max-width: 220px;
  height: 3px;
  background-color: var(--color-blue2);
  margin: 1rem auto 0 auto;
  border-radius: 2px;
}

/* Desktop */
@media (min-width: 900px) {
  .intro {
    width: 60%;
  }
}

/* =============================
SECTION: About
============================= */

.about {
  text-align: center;
  /* max-width: 800px; */
  padding: 2rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-blue);
}

.about h2 {
  /* color: #1e294f; */
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.about::after {
  content: "";
  display: block;
  width: 60%;
  max-width: 220px;
  height: 3px;
  background-color: var(--color-blue2);
  margin: 1rem auto 0 auto;
  border-radius: 2px;
}
/* Desktop */
@media (min-width: 900px) {
  .about {
    padding: 2rem 15rem;
  }
}

/* =============================
   SECTION: Features (3 colunas)
============================= */
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--color-blue);
}

.feature-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 250px;
  gap: 1rem;
}

.feature-item i {
  font-size: 1.8rem;
  color: var(--color-blue2);
}

.feature-item h3 {
  font-size: 1.2rem;
  color: var(--color-dark);
}

/* Desktop */
@media (min-width: 800px) {
  .features {
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }

  .feature-item {
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 400px;
    gap: 1rem;
  }

  .feature-item p {
    text-align: center;
  }
}

/* =============================
   SECTION: Newsletter
============================= */
.newsletter {
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  max-width: 440px;
}

.newsletter h2 {
  font-size: 1.6rem;
    color: var(--color-dark);
  margin-bottom: 2.5rem;
}

.newsletter p {
  margin-bottom: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.newsletter p::after {
  content: "";
  display: block;
  width: 60%;
  max-width: 220px;
  height: 3px;
  background-color: var(--color-blue2);
  margin: 2rem auto 4rem auto;
  border-radius: 2px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

.newsletter-form input {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-blue2);
  font-size: 1rem;
}

.newsletter-form button {
  padding: 0.8rem 1rem;
  background-color: var(--color-blue2);
  border: none;
  color: var(--color-light);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.newsletter-form button:hover {
  background-color: #2f3b65;
}

/* Desktop */
@media (min-width: 900px) {
  .newsletter {
    padding-top: 3rem;
    max-width: 800px;
  }
  .newsletter-form {
    flex-direction: row;
    justify-content: center;
    max-width: 500px;
    width: 100%;
  }
  .newsletter-form input {
    flex: 2;
  }
}
